@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

:root {
  --font-principal: "Racing Sans One", sans-serif;
  --font-btn: 'Verdana', Geneva, Tahoma, sans-serif;
  --cor-fundo: rgb(9, 14, 19);
  --cor-container: rgb(40, 68, 95);
  --cor-texto: rgb(235, 238, 62);
  --cor-erro: rgb(240, 69, 69);
  --cor-timer-bg: #000;
  --cor-timer-texto: #4cd137;
  --cor-btn-start: rgb(30, 170, 70); 
  --cor-btn-start-hover: rgb(20, 210, 80);
  --cor-btn-stop: rgb(210, 40, 40);      
  --cor-btn-stop-hover: rgb(250, 60, 60);
  --cor-btn-reset: rgb(70, 130, 220);    
  --cor-btn-reset-hover: rgb(90, 160, 250);
  --cor-btn-lap: rgb(204, 207, 24);     
  --cor-btn-lap-hover: rgb(235, 238, 62);
  --cor-btn-resetFull: rgb(220, 110, 0); 
  --cor-btn-resetFull-hover: rgb(255, 140, 20);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-principal);
}

body {
  background: var(--cor-fundo);
}

.container {
  background: var(--cor-container);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 550px;
  margin: 30px auto;
  padding: 20px;
  border-radius: 5px;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--cor-texto);
  position: relative;
}

.title h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 800;
}
h2 {
  font-size: 1.5rem;
  color: var(--cor-texto);
  text-align: center;
  margin-top: 10px;
}
.fa-stopwatch {
  color: var(--cor-texto);
  font-size: 2rem;
  padding-left: 20px;
}

.traffic-light {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  padding-right: 20px;
}

.traffic-light div {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.traffic-green { background: var(--cor-btn-start); }
.traffic-yellow { background: var(--cor-btn-lap); }
.traffic-red { background: var(--cor-btn-stop); }
.traffic-blue { background: var(--cor-btn-reset); }
.traffic-orange { background: var(--cor-btn-resetFull); }

#timer {
  background: var(--cor-timer-bg);
  color: var(--cor-timer-texto);
  font: bold 3.2rem 'Digital-7', monospace;
  text-align: center;
  padding: 20px 80px;
  text-shadow: 0 0 10px rgba(76, 209, 55, 0.7);
  margin: 15px auto;
  border-radius: 8px;
}

.race-line {
  height: 10px;
  width: calc(100% + 40px);
  margin: 0 -20px;
  background: repeating-linear-gradient(90deg, #fff, #fff 20px, #000 20px, #000 45px);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.btn {
  padding: 10px 7px;
  border: none;
  border-radius: 6px;
  font: bold 0.9rem var(--font-btn);
  cursor: pointer;
  min-width: 100px;
  text-transform: uppercase;
  transition: transform 0.2s, box-shadow 0.2s;
  color: #f0f0f0;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


#start { background: var(--cor-btn-start); }
#start:hover { background: var(--cor-btn-start-hover); }

#lap { background: var(--cor-btn-lap); }
#lap:hover { background: var(--cor-btn-lap-hover); }

#stop { background: var(--cor-btn-stop); }
#stop:hover { background: var(--cor-btn-stop-hover); }


#resetFull { background: var(--cor-btn-resetFull); }
#resetFull:hover { background: var(--cor-btn-resetFull-hover); }

#reset { background: var(--cor-btn-reset); }
#reset:hover { background: var(--cor-btn-reset-hover); }


.lap-list {
  background: var(--cor-fundo);
  color: var(--cor-timer-texto);
  width: 100%;
  max-width: 400px;
  padding: 50px;
  border-radius: 5px;
  margin-top: 10px;
}
#laps li{
  list-style: none;
  padding: 0;
  background-color: var(--cor-fundo);
  font: bold 1rem 'Digital-7', monospace;
  text-align: center;
  line-height: 1.3;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    color: var(--cor-texto);
    gap: 15px;
    transition: transform 0.2s;
}

footer a{
    font-size: 25px;
    color: var(--cor-texto);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

footer a:hover{
    font-size: 28px;
    transform: translateY(-2px);
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    padding: 10px;
  }

  .buttons {
    gap: 10px;
  }

  #timer {
    font-size: 2.5rem;
    padding: 15px 30px;
  }

  .title h1 {
    font-size: 1.3rem;
  }

  .race-line {
    height: 8px;
    width: calc(100% + 20px);
  }

  footer {
    gap: 8px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 95%;
    padding: 10px;
  }

  .buttons {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  #timer {
    font-size: 2rem;
    padding: 10px 50px;
  }

  .title h1 {
    font-size: 1rem;
    padding-right: 43px;
  }

  .race-line {
    height: 8px;
    width: calc(100% + 19px);
  }

  footer {
    flex-direction: column;
    gap: 2px;
    font-size: 0.9rem;
  }

  footer a {
    font-size: 20px;
  }
}